.content {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.rawmetar {
    font-family: "Consolas", monospace;
    font-size: 36px;
}

.smalltext-medium {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.smalltext {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

